@charset "UTF-8";
/*
----------------------------
Fonts
-----------------------------
*/
@font-face {
    font-family: "Rubik";
    src        : url('../fonts/Rubikmedium.ttf') format('truetype'),
        url('../fonts/Rubikmedium.woff') format('woff'),
        url('../fonts/Rubikmedium.woff2') format('woff2');
    font-weight : 400;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src        : url('../fonts/Rubikbold.ttf') format('truetype'),
        url('../fonts/Rubikbold.woff') format('woff'),
        url('../fonts/Rubikbold.woff2') format('woff2');
    font-weight : 700;
    font-display: swap;
}


