@import 'color.scss';

.sectionFooter {
    padding: 20px 0;
    background-color: $grey_color;
    .sectionInner {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    &_logo {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        &-img {
            width: 117px;
            height: 30px;
            margin: 0 10px 0 0;
        }
        &-text {
            @include InterRegular(10);
            color: #fff;
            width: 116px;
        }
    }
    &_locationPhone {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        color: #fff;
        width: 297px;
        &-location {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            @include InterMedium(14);
            &::before{
                content: url(../img/svg/pin.svg);
                margin: 0 10px 0 0;
            }
        }
        &-phone {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            @include InterMedium(14);
            color: inherit;
            text-decoration: none;
            &::before{
                content: url(../img/svg/phone.svg);
                margin: 0 10px 0 0;
            }
        }
    }
}