.sectionMap {
    position: relative;

    .sectionInner {
        position: absolute;
        top     : 123px;
        left    : calc(50% - 600px);
    }

    &_banner {
        width        : 343px;
        height       : 294px;
        border-radius: 20px;
        background-color: #fff;
        padding: 28px;

        &-title {
            @include RubikMedium(20);
            margin: 0 0 10px 0;
        }
        
        &-decription {
            @include RubikRegular(16);
            margin: 0 0 10px 0;
        }
        
        &-stock {
            @include RubikRegular(14);
            color      : #278C2A;
            margin: 0 0 24px 0;
        }
        
        &-location {
            @include InterMedium(14);
            margin: 0 0 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            &::before{
                content: url(../img/svg/pinBlack.svg);
                margin: 0 10px 0 0;
            }
        }
        
        &-phone {
            @include InterMedium(14);
            margin: 0 0 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            color: #000;
            text-decoration: none;
            &:active,
            &:visited{
                color: #000;
            }
            &::before{
                content: url(../img/svg/phoneBlack.svg);
                margin: 0 10px 0 0;
            }
        }

        &-workTime {
            @include InterMedium(14);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            &::before{
                content: url(../img/svg/workTime.svg);
                margin: 0 10px 0 0;
            }
        }
    }
}