@import 'color.scss';

.sectionWhyUs {
    height          : 690px;
    background-color: $grey_color;
    padding         : 60px 0;

    .sectionInner {
        height         : 100%;
        display        : flex;
        flex-direction : column;
        align-items    : flex-start;
        justify-content: space-between;
    }

    &_title {
        @include RubikBold(48);
        line-height: 57px;
        width      : 620px;
        color: #fff;

        span {
            text-transform: uppercase;
        }
    }

    &_content {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;

        &-list {
            width: 500px;
            list-style: none;

            &Item {
                @include RubikRegular(18);
                line-height: 140%;
                color: rgba(255, 255, 255, 0.85);
                margin: 0 0 15px 0;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                &::before{
                    content:'';
                    display: block;
                    background: transparent url(../img/svg/listShevron.svg) 50% 50%/contain no-repeat;
                    width: 7px;
                    height: 14px;
                    flex-shrink: 0;
                    margin: 0 23px 0 0;
                }
            }
        }

        &-slider {}
    }
}