@import 'color.scss';

.sectionHeader {
    background-color: $grey_color;
    height: 95px;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    .sectionInner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &_logo {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        width: 420px;
        &-img {
            width: 117px;
            height: 30px;
            margin: 0 10px 0 0;
        }
        &-text {
            @include InterRegular(10);
            color: #fff;
            width: 116px;
        }
        &-phone {
            color: inherit;
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #fff;
            @include InterMedium(18);

            &::before{
                content: url(../img/svg/phone.svg);
                margin: 0 10px 0 0;
            }
        }
    }
    .burgerMenuWrapper{
        flex-grow: 1; display: flex; justify-content: flex-end;
        
    }

    &_locationPhone {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        width: 374px;
        &-location {
            @include InterMedium(14);
            display: flex;
            align-items: center;
            &::before{
                content: url(../img/svg/pin.svg);
                margin: 0 10px 0 0;
            }
        }
        &-phone {
            color: inherit;
            text-decoration: none;
            display: flex;
            align-items: center;
            @include InterMedium(32);

            &::before{
                content: url(../img/svg/phone.svg);
                margin: 0 10px 0 0;
            }
        }
    }
    &_btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 420px;
        &-models {
            @include InterMedium(16);
            color: #fff;
            margin: 0 15px 0 0 ;

            
            display: none;
        }
        &-requestCall {
            width: 250px;
            height: 68px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include InterBold(18);
        }
    }
}