@import 'color.scss';

.sectionBenefits {
    height: 1310px;
    padding: 110px 0 150px 0;
    background-color: $grey_color;
    .sectionInner {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
    }
    .swiper {
        width: 100%;
        padding: 40px 10px 0 10px;
    }
    .swiper-button-next,
        .swiper-button-prev{
            top: 0px;
            right: 0;
            left: auto;
            z-index: 9;
        }
        .swiper-button-prev{
            right: 35px;
        }

        .swiper-button-next::after,
        .swiper-button-prev::after{
            content: '';
            background: transparent url(../img/svg/arrow.svg) 50% 50%/contain no-repeat;
            width: 33px;
            height: 19px;
            
        }
        .swiper-button-prev::after{
            transform: rotate(180deg);
        }
    &_slider {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        overflow: visible !important;
        
        &-item{
            // width: calc(100% / 3 - 20px);
            width: 100%;
            border-radius: 20px;
        }
        .swiper-slide{
            width: 90%;
        }
        .swiper-slide:hover{
            transform: scale(1.05);
            z-index: 5;
        }
    }
    &_text {
        width: 100%;
        &-title {
            @include RubikBold(48);
            color: #fff;
            margin: 0 0 60px 0;
        }
        &-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            &List {
                width: 500px;
                list-style: none;
    
                &Item {
                    @include RubikRegular(18);
                    line-height: 140%;
                    color: rgba(255, 255, 255, 0.85);
                    margin: 0 0 15px 0;
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    justify-content: flex-start;
                    &::before{
                        content:'';
                        display: block;
                        background: transparent url(../img/svg/listShevron.svg) 50% 50%/contain no-repeat;
                        width: 7px;
                        height: 14px;
                        flex-shrink: 0;
                        margin: 0 23px 0 0;
                    }
                }
            }
            &Video {
                width: 600px;
                max-width: 600px;
                height: 425px;
                border-radius: 15px;
                position: relative;
                &Item{
                    border-radius: 15px;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &Btn{
                    background: transparent url(../img/svg/play.svg) 50% 50%/contain no-repeat;
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: calc(50% - 30px);
                    left: calc(50% - 30px);
                    transition: all 0.5s;
                    display: none;
                    &:hover{
                        transform: scale(1.3);
                    }
                }

                &.video--enabled{cursor: pointer;}
                &.video--enabled{
                    .sectionBenefits_text-contentVideoBtn{
                        display: block;
                    }
                    .video__media {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                }
            }
        }
            
    }
}