@import 'color.scss';

.sectionHeader {
    background-color: $grey_color;
    height: 95px;
    .sectionInner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
    &_logo {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        width: 451px;
        &-img {
            width: 117px;
            height: 30px;
            margin: 0 10px 0 0;
        }
        &-text {
            @include InterRegular(10);
            color: #fff;
            width: 116px;
        }
    }
    &_locationPhone {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        width: 374px;
        &-location {
            @include InterMedium(14);
        }
        &-phone {
            color: inherit;
            text-decoration: none;
            @include InterMedium(32);
        }
    }
    &_btns {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        width: 451px;
        &-models {
            @include InterMedium(16);
            color: #fff;
            margin: 0 15px 0 0 ;
        }
        &-requestCall {
            width: 275px;
            height: 68px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include InterBold(18);
        }
    }
}