@import 'color.scss';

.sectionPeculiarities {
    padding: 150px 0;
    .sectionInner {
        height: 100%
    }

    &_title {
        @include RubikBold(48);
    }

    &_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-iteractiveImg {
            width: 100%;
            height: 700px;
            background: transparent  url(../img/png/quadBikeInteractive.png) 50% 50% no-repeat;
            position: relative;
            .number{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35px;
                height: 35px;
                border-radius: 50%;
                color: $primary_color;
                position: absolute;
                @include RubikBold(24);
                background-color: #fff;
                &:hover{
                    background-color: darken(#fff, 5);
                }
                &:active{
                    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.2) inset;

                }
            }

            // .one {}

            .two {
                top: 215px;
                left: 170px;
            }

            .three {
                top: 325px;
                right: 125px;
            }

            // .four {}

            .five {
                top: 250px;
                left: 100px;
            }

            .six {
                bottom: 250px;
                right: 125px;
            }

            .seven {
                top: 300px;
                right: 290px;
            }

            // .eight {}

            // .nine {}
        }

        &-accordeon {
            .accordeon {
                width: 500px;
                flex-shrink: 0;
                &Item {
                    position: relative;
                    margin-bottom: 10px;

                    &_input {
                        position: absolute;
                        top: 0;
                        left: 0;
                        opacity: 0;

                        &:checked~.accordeonItem_trigger {
                            &::after {
                                content: url(../img/svg/accordeonShevron.svg);
                                transform: scale(1, -1);
                            }
                        }

                        &:checked~.accordeonItem_content {
                            display: flex;
                        }
                    }

                    &_trigger {
                        @include RubikMedium(18);
                        position: relative;
                        
                        &::after {
                            transition: all 0.5s;
                            display: block;
                            color: #fff;
                            content: url(../img/svg/accordeonShevron.svg);
                            position: absolute;
                            right: 20px;
                        }
                        padding: 10px 40px 10px 0;
                        color: #000;
                        width: 100%;
                        min-height: 45px;
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        justify-content: flex-start;
                    }

                    &_content {
                        @include RubikRegular(18);
                        padding: 20px 0;
                        display: none;
                        color: #000;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                    }
                }
            }
        }
    }
}