@import 'color.scss';

.sectionModels {
    height    : 762px;
    background: transparent url(../img/svg/carTrack.svg) 50% 50%/cover no-repeat;
    position  : relative;
    padding   : 150px;

    &::before {
        content         : '';
        display         : block;
        width           : 100%;
        height          : 100%;
        position        : absolute;
        top             : 0;
        left            : 0;
        background-color: rgba(237, 237, 237, 0.95);
        z-index         : 1;
    }

    .sectionInner {
        position: relative;
        z-index : 2;
        height  : 100%;
        display : flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &_info {
        flex-shrink: 0;
    }

    &_title {
        font-family   : 'Rubik';
        font-style    : normal;
        font-weight   : 700;
        font-size     : 40px;
        color         : #000;
        margin        : 0 0 40px 0;
        text-transform: uppercase;
    }

    .limited {
        position: relative;

        &::before {
            top             : -30px;
            left            : 0;
            width           : 82px;
            height          : 30px;
            position        : absolute;
            content         : 'LIMITED';
            font-family     : 'Rubik';
            font-style      : normal;
            font-weight     : 700;
            font-size       : 18px;
            background-color: #C4C4C4;
            color           : #fff;
            display         : flex;
            align-items     : center;
            justify-content : center;

        }
    }

    &_color {
        @include RubikMedium(16);
        margin: 0 0 40px 0;
        &-line {
            margin: 15px 0 0 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 85px;
            &Item {
                display: block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
            }
            .black{
                background-color: #212129;
            }
            .green{
                background-color: #4C6142;
            }
            .blue{
                background-color: #0B2150;
            }
        }
    }

    &_price {
        display        : flex;
        flex-direction : row;
        align-items    : flex-end;
        justify-content: space-between;
        margin: 0 0 40px 0;
        &-new {
            @include RubikBold(35);
            color      : #000;
            margin: 0 20px 0 0;

            span {
                color: $secondary_color
            }
        }
        
        &-old {
            padding: 0 0 4px 0;
            font-family    : 'Rubik';
            font-style     : normal;
            font-weight    : 700;
            font-size      : 20px;
            line-height    : 24px;
            color          : #949494;
            text-decoration: line-through;
        }
    }

    &_characteristics {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: flex-start;
        margin: 0 0 40px 0;

        &-item {
            display        : flex;
            flex-direction : column;
            align-items    : flex-start;
            justify-content: center;
            font-family    : 'Rubik';
            font-style     : normal;
            font-weight    : 400;
            font-size      : 14px;
            color          : rgba(33, 33, 41, 0.85);
            border         : none;
            border-right   : 1px solid rgba(0, 0, 0, 0.15);
            padding        : 0 24px 0 24px;

            &:last-child {
                border: none;
            }

            &:first-child {
                padding-left: 0;
            }

            span {
                @include RubikBold(18);
                color      : #212129;
            }
        }
    }

    &_getOffer {
        width : 330px;
        height: 80px;
    }

    &_slider {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 610px;
        .swiper {
            width: 100%;
            // height: 100%;
          }
    
          .swiper-slide {
            text-align: center;
            font-size: 18px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
    
          .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .swiper-pagination{
            top: 0;
            left: 0;
            height: 20px;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-start;
            @include GilroyRegular(16);
            color: #393737;
            line-height: 1;
            &-current{
                color: #D4272C;
                font-size: 40px;
                line-height: 0.7;
            }
        }
        .swiper-button-next,
        .swiper-button-prev{
            top: 0;
            right: 0;
            left: auto;
        }
        .swiper-button-prev{
            right: 35px;
        }

        .swiper-button-next::after,
        .swiper-button-prev::after{
            content: '';
            background: transparent url(../img/svg/arrowBlack.svg) 50% 50%/contain no-repeat;
            width: 33px;
            height: 19px;
            
        }
        .swiper-button-prev::after{
            transform: rotate(180deg);
        }
    }
}