.sectionMap {
    position: relative;

    .sectionInner {
        position: absolute;
        top     : 123px;
        left    : calc(50% - 600px);
    }

    &_banner {
        width        : 343px;
        height       : 294px;
        border-radius: 20px;
        background-color: #fff;
        padding: 28px;

        &-title {
            font-family: 'Rubik';
            font-style : normal;
            font-weight: 500;
            font-size  : 20px;
            margin: 0 0 10px 0;
        }
        
        &-decription {
            font-family: 'Rubik';
            font-style : normal;
            font-weight: 400;
            font-size  : 16px;
            margin: 0 0 10px 0;
        }
        
        &-stock {
            font-family: 'Rubik';
            font-style : normal;
            font-weight: 400;
            font-size  : 14px;
            color      : #278C2A;
            margin: 0 0 24px 0;
        }
        
        &-location {
            font-family: 'Inter';
            font-style : normal;
            font-weight: 500;
            font-size  : 14px;
            margin: 0 0 15px 0;
        }
        
        &-phone {
            font-family: 'Inter';
            font-style : normal;
            font-weight: 500;
            font-size  : 14px;
            margin: 0 0 15px 0;
            display: block;
        }

        &-workTime {
            font-family: 'Inter';
            font-style : normal;
            font-weight: 500;
            font-size  : 14px;
        }
    }
}