@import 'color.scss';

.sectionFooter {
    padding: 20px 0;
    background-color: $grey_color;
    .sectionInner {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }
    &_logo {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;
        &-img {
            width: 117px;
            height: 30px;
            margin: 0 10px 0 0;
        }
        &-text {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            color: #fff;
            width: 116px;
        }
    }
    &_locationPhone {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        color: #fff;
        width: 297px;
        &-location {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
        }
        &-phone {
            color: inherit;
            text-decoration: none;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
        }
    }
}